/node_modules
/public/hot
/public/js/reactjs_code_split/*
/public/js/reactjs_code_split/*.js
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.sql

/.idea/*
.idea
/packages/*
/public/themes/intranet/app/js/app.js
/public/themes/intranet/app/css/app.css
/public/themes/web/app/
public/.DS_Store
public/themes/web/app/js/*
public/themes/web/app/js/app.js
.DS_Store
