/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


/.idea/*
.idea
/packages/*
/public/themes/intranet/app/js/app.js
/public/themes/intranet/app/css/app.css
/public/themes/web/app/
public/.DS_Store
public/themes/web/app/js/app.js
