.search-filter-button input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #F4F4F4;
    outline: 0;
}

.search-filter-button .btn {
    border-radius: 0 12px 12px 0;
    border: none !important;
    outline: 0 !important;
}

.search-filter-button .btn:focus {
    color: white;
    outline: 0;
    box-shadow: none;
}

.btn-auth{
    height: 50px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.btn-bicolor {
    font-weight: 700;
    height: 48px;
    border-radius: 31px;
    color : white !important;
    background: linear-gradient(90deg, rgba(0, 219, 174, 1), rgba(0, 155, 232, 1), rgba(0, 155, 232, 1), rgba(0, 219, 174, 1));
    background-size: 400% 400%;
}

.white-space{
    white-space: nowrap;
}

.btn-bicolor:hover {
    animation: gradient-out .3s linear;
}


.btn-outline-bicolor {
    font-weight: 700;
    height: 48px;
    border-radius: 31px;
    border : 1px solid #707070;
    color : #033F5D !important;
    background: white;
    background-size: 400% 400%;
}

.btn-outline-bicolor:hover{
    height: 48px;
    border-radius: 31px;
    border : 1px solid #00c3c3;
    color : white !important;
    background: linear-gradient(90deg, rgba(0, 219, 174, 1), rgba(0, 155, 232, 1), rgba(0, 155, 232, 1), rgba(0, 219, 174, 1));
    background-size: 400% 400%;
}

.btn-add-cart,
.btn-add-cart:hover{
    height: 31px !important;
    font-size: 10px;
}


@keyframes gradient-in {

    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: 100% 200%;
    }

}


@keyframes gradient-out {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: 100% 0;
    }
}

.btn-bicolor-1-hover:hover {
    border: 1px solid transparent;
    background: rgb(0, 155, 174);
    background: -moz-linear-gradient(90deg, rgba(0, 219, 174, 1) 0%, rgba(0, 155, 232, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0, 219, 174, 1) 0%, rgba(0, 155, 232, 1) 100%);
    background: linear-gradient(90deg, rgba(0, 219, 174, 1) 0%, rgba(0, 155, 232, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00dbae", endColorstr="#009be8", GradientType=1);
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-bicolor-2-hover:hover {
    border: 1px solid transparent;
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.paginator-buttons{
    color: black;
    padding: 8px 13px;
    border: solid thin #E6E6E6;
    border-radius: 7px;
    font-weight: 450;
    font-size: 12px;
    cursor: pointer;
    margin: 0 2px;
}

.paginator-buttons.active{
    color: white;
    border: solid thin #009BE8;
    background-color: #009BE8;
}

.paginator-buttons > a {
    color: black;

}

.paginator-buttons.active > a {
    color: white;
}

.paginator-buttons > a:hover{
    text-decoration: none;
}

.paginator-ul {
    float: right;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.paginator-label{
    float:right;
    display: flex;
    padding-right: 25px;
    line-height: 34px;
}


.btn-months {
    height: 26px !important;
    font-size: 8px;
    background: transparent;
    border-radius: 12px;
    border: 1px solid #CECECE !important;
    color: #6C6B6B !important;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: unset;
    outline: 0;
}

.focus {
    background-color: #009be8 !important;
    color: white !important;
    outline: 0;
    box-shadow: none;

}

.btn-months.focus {
    background-color: #009be8 !important;
    color: white !important;
    outline: 0;
    box-shadow: none;
}

.search-filter-button-mobile input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #F4F4F4;
    outline: 0;
    box-shadow: none;
}

.search-filter-button-mobile .btn {
    border-radius: 0px;
    border: none !important;
    outline: 0 !important;
    box-shadow: none;
}

.search-filter-button-mobile .btn:focus {
    color: white;
    outline: 0;
    box-shadow: none;
}

.sticky-container-go-to-pay{
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 1;
}
