.circle-step{
    width: 44px;
    height: 44px;
    background: linear-gradient(90deg, rgba(0, 219, 174, 1), rgba(0, 155, 232, 1), rgba(0, 155, 232, 1), rgba(0, 219, 174, 1));
    background-size: 400% 400%;
    border-radius: 50%;
    display: flex;
}

.circle-step span{
    margin: auto;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.step-disable{
    filter: grayscale(100%) !important;
    opacity: 0.5;
}

.circle-step-ready{
    background: white;
}
.circle-step-ready img{
    margin: auto;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Subir";
}