.top-header {
    height: 33px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.top-do-flex {
    display: flex !important;
    min-height: 33px;
}

.top-link {
    cursor: pointer;
    color: white;
    font-size: 12px;
}

.top-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: relative;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.top-link:hover:after {
    width: 100%;
    left: 0;
}

.header-navbar {
    min-height: 44px;
    color: white;
    background-color: #0869A6;
}

.header-navbar-col{
    display: flex !important;
    min-height: 44px;
    cursor: pointer;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: transparent;
}

.header-navbar-col:hover{
    background: rgb(0,155,232);
    background: -moz-linear-gradient(90deg, rgba(0,155,232,1) 0%, rgba(0,219,174,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,155,232,1) 0%, rgba(0,219,174,1) 100%);
    background: linear-gradient(90deg, rgba(0,155,232,1) 0%, rgba(0,219,174,1) 100%);
}

.header-navbar-item {
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
}
