.modal-backdrop {
    background-color: #033F5D !important;
}

.modal-header {
    display: unset;
    align-items: unset;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    border-bottom: 0px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-content {
    border: 0 solid #DEDEDE;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
    border-radius: 12px;
}

.modal-body {
    padding-top: 0;
    //padding-left: 2rem;
    //padding-right: 2rem;
}

.modal-auth {
    max-width: 412px;
}

.modal-success {
    max-width: 486px;
}

.modal-waiting-payment {
    max-width: 920px !important;
}

.modal-new-claim{
    max-width: 712px;
}

.modal-search-mobile{
    width: 100%;
    margin: unset;
    display: block;
    position: absolute;
    background-color: white;
    min-width: 180px;
    padding: 12px 15px;
    z-index: 11;
    top: 60px;
    left: 1px;
    // border-radius: 25px;
    // max-height: 248px
}


.modal-title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #0869A6;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
}
