@media (min-width: 768px) {
    .product-detail-tabs{
        margin-left: 118px;
        font-size: 14px;
    }

    .padding-responsive-detail{
        padding: 3rem!important;
    }

    .padding-beneficy{
        padding-bottom: 2rem !important;
    }

    //.product-separator{
    //    margin-bottom: 3rem !important;
    //    padding-bottom: 3rem !important;
    //}

    .product-recipe-style{
        font-size: 12px;
        margin-top:1.5rem !important;
    }
}

@media (max-width: 767px) {
    .product-detail-tabs{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
        // text-align: center;
    }

    nav.tabs-about-us{
        padding: 0 !important;
    }

    nav.tabs-about-us > a {
        width: 100% !important;
        margin-right: 0 !important;
        text-align: center !important;
    }

    ul{
        font-size: 14px !important;
        font-family: 'Poppins' !important;
    }

    .compoundProduct{
        border: 1px solid #cecece;
        border-width: 1px;
        border-style: solid;
        border-radius: 11px;
        padding: 8px;
    }

    .padding-responsive-detail{
        padding: 3rem 2rem 3rem 2rem !important;
    }

    .padding-beneficy{
        padding-bottom: 1rem !important;
    }

    .product-separator{
        margin-bottom: 1rem !important;
    }

    .product-recipe-style{
        font-size: 10px;
        text-align: center;
    }

    .product-recipe-column{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .subscription-content{
        text-align: left !important;
    }

    .subscription-button-margin{
        margin-bottom: .5rem!important;
    }

    .mobile-producto-img {
        margin-left: auto;
        margin-right: auto;
    }

    .btn-add-cart, .btn-add-cart:hover {
        height: 31px !important;
        font-size: 7px;
    }

    .subscription-title{
        text-align: left !important;
    }

    .btn-months{
        font-size: 8px !important;
        margin-bottom: 10px !important;
    }

    .h1Recipe{
        margin-left: 10px !important;
        margin-top: 4px !important;
        font-weight: 300 !important;
    }

    .iconRecipe{
        font-size: 16px !important;
        margin-top: -8px !important;
        height: 20px !important;
    }

    .textPlansProduct{
        font-size: 8px !important;
    }

}

.h1Recipe{
    font-weight: 400;
}

.compoundProduct{
    border: 1px solid #cecece;
    border-width: 1px;
    border-style: solid;
    border-radius: 11px;
    padding: 8px;
}

.subscription-content{
    text-align: center;
}

.subscription-title{
    text-align: center;
}

.btn-months{
    font-size: 10px;
    margin-bottom: 20px;
}

.icon-document{
    height: 15px;
    padding-right: 10px;
}

.compoundProduct{
    color: #A3A3A3;
    font-weight: 300;
}

.textPlansProduct{
    font-size: 10px;
}
