@media (min-width: 768px) {

    .app-margin-top {
        margin-top: 0;
    }

    .responsive-d-display {
        display: none !important;
    }

    .responsive-d-none {
        display: inline-block;
    }

    .responsive-padding-tabs {
        padding: 3rem;
    }

    .app-margin-top {
        //margin-top: 230px;
        // margin-top: 0px;
        margin-top: 182px;
        min-height: calc(100vh - 587px);
    }
}

@media (min-width: 1335px) {
    .app-margin-top {
        // margin-top: 185px;
        margin-top: 138px;
        min-height: calc(100vh - 520px);
    }
}

@media (min-width: 1260px) {
    .product-carousel .slick-slide {
        max-width: 300px;
    }
}

@media (max-width: 767px) {

    @for $i from 1 through 150 {
        .font-md-#{$i} {
            font-size: #{$i}px;
        }
    }

    @for $i from 1 through 150 {
        .lh-md-#{$i} {
            line-height: #{$i}px;
        }
    }

    .app-margin-top {
        //margin-top: 85px;
        margin-top: 108px;
    }

    .timeline-box {
        height: 100% !important;
    }

    .readMoreHistory{
        text-align: center!important;
        margin-top: 1.5rem!important;
    }

    .btn-adress {
        width: 100%;
    }

    .btn-save-address {
        width: 100%;
    }

    .add-underline-responsive {
        text-decoration: underline;
    }

    .responsive-d-none {
        display: none !important;
    }

    .responsive-d-none-v2 {
        display: none;
    }

    .responsive-d-display {
        display: block;
    }

    .responsive-padding-tabs {
        padding: 2rem;
    }

    .filter-width {
        min-width: 313px;
        width: 100%;
    }

    .footer-nav-item {
        display: none;
    }

    .custom-col-responsive {
        flex: 0 0 98%;
        max-width: 98%;
        margin-left: 3px;
        margin-top: -18px;
    }

    .bioequivalent-font {
        font-size: 11px;
    }

    .custom-accordion-responsive {
        margin-top: 2.5rem !important;
    }
    ////////////////////////////////////////
    //
    ///////////////////////////////////////
    .cart-badge-quantity {
        font-size: 8px;
        font-weight: 300;
        height: 16px;
        width: 16px;
        top: 11px;
        right: 11px;
    }

    .checkout-mobile-h3 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 0;
        letter-spacing: 3px !important;
    }
    .checkout-mobile-h3 span {
        font-size: 18px;
        font-weight: 600;
        margin-top: -5px;
    }

    .r-cart-items .panel-body {
        padding: 15px;
    }

    .quantity-input {
        border: 1px solid #CECECE;
    }

    .panel-cart-total {
        width: 100%;
    }

    .circle-step-responsive {
        width: 24px;
        height: 24px;
        background: linear-gradient(90deg, #00dbae, #009be8, #009be8, #00dbae);
        background-size: 400% 400%;
        border-radius: 50%;
        display: flex;
        z-index: 1;
        position: relative;
    }

    .circle-step-responsive span {
        margin: auto;
        color: white;
        font-size: 9px;
        font-weight: 700;
    }

    .step-disable .circle-step-responsive {
        background: #CECECE;
    }

    .step-back-line {
        width: 100%;
        border-bottom: 1px solid #E8E8E8;
        position: absolute;
        top: 15px;
        z-index: 0;
    }

    .step-back-line-first {
        width: 50%;
        right: 0;
    }

    .step-back-line-last {
        width: 50%;
        left: 0;
    }

    .mobile-panel-recipe {
        padding: 10px 25px !important;
    }


    //modal serach mobil
    .modal-dialog.search-modal.modal-search-force {
        position: relative;
        width: auto;
        margin: 0;
        pointer-events: none;
        top: 108px;
        height: auto !important;
    }

    .modal-dialog.search-modal.modal-search-force .modal-content {
        border: 0 solid #DEDEDE;
        box-shadow: 0 0 0 rgb(0 0 0 / 0%);
        border-radius: 0;
    }

    .modal-dialog.search-modal.modal-search-force .modal-header {
        display: none;
    }

    .modal-dialog.search-modal.modal-search-force .modal-body {
        padding: 0 !important;
        margin: 0 !important;
    }

    .modal-dialog.search-modal.modal-search-force .top-do-flex {
        padding: 0 !important;
        margin: 0 !important;
    }

    .modal-search-force .modal-content {
        height: auto !important;
    }

    .modal-dialog.search-modal.modal-search-force .form-control-custom,
    .modal-dialog.search-modal.modal-search-force .search-filter-button .btn {
        border-radius: 0;
    }

    .gallery-res-box {
        border: 1px solid #CECECE;
        border-radius: 12px;
        background: white;
    }

    #header {
        z-index: 9;
        position: absolute;
    }

    .card-faq .card-header {
        //background: #009BE8 !important;
    }

    .card-products-gutters {
        margin-right: -5px;
        margin-left: -5px;
    }

    .card-products-gutters > .col, .card-products-gutters > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }

    .mobile-shop .btn-add-cart {
        font-size: 7px;
    }

    .mobile-shop .product-card {
        padding: 14px;
    }

    //.mobile-shop .w-breadcrumb{
    //    padding-bottom: 0 !important;
    //}

    .link-address-profile {
        font-weight: 900;
    }

    .link-address-checkout {
        font-weight: 900;
    }
    .subscription-card {
        padding: 10px 0px;
    }
    .footer-bottom .bottom-to-flex {
        text-align: center;
    }

    .footer-bottom {
        height: 82px;
        font-size: 13px;
        font-weight: 500;
    }

    .logo-footer {
        width: 309px;
    }

    .float-whatsapp > div:first-child {
        bottom: 50px !important;
        color: white;
    }

    .float-whatsapp img {
        width: 32px !important;
        height: 32px !important;
    }

    .button-nav-checkout {
        position: absolute;
        top: -20px;
        left: 36px;
    }

    .card-delivery-cost .card-header {
        min-height: 45px;
    }
    .card-delivery-cost .card-header::after {
        top: 15px
    }
    .card-delivery-cost .collapse.show + .card-header::after {
        top: 24px
    }

    .card-plans .card-header:hover,
    .card-plans .collapsing + .card-header,
    .card-plans .collapse.show + .card-header {
        font-size: 16px;
        background: #009BE8 !important;
        border-color: #009BE8 !important;
    }
    .card-plans .card-header h3 {
        font-size: 16px !important;
    }

    .card-plans .card-header::after {

    }

    .card-plans .collapse.show + .card-header::after {

    }


    .card-delivery-cost .card-body {
        border-radius: 12px;
        border: 1px solid #CECECE;
        padding: 15px;
        margin-top: 15px;
    }

    .card-delivery-cost-title {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        line-height: 15px;
    }
    .about-us-description li,
    .about-us-description p,
    .about-us-description {
        font-size: 14px;
        font-weight: 500;
    }

    .product-format-style {
        background: #fafac8;
        border-radius: 10px;
        border: solid 1px #f0f08c;
        font-size: 12px;
        padding: 10px 15px;
        color: #484848;
        font-weight: 500;
    }

    .single-product .btn {
        font-size: 13px;
        font-weight: bold;
        height: 43px !important;
        letter-spacing: 0;
        color: #000000 !important;
    }

    .single-product .quantity-input {
        height: 43px;
        width: 99px;
        margin-right: 0.75rem;
    }

    .single-product .quantity-input div {
        float: left;
        padding-top: 10px;
        height: 43px !important;
    }

    .single-product .quantity-input-button {
        width: 30px;
    }
    .single-product .quantity-input-field,
    .single-product .quantity-input-field input {
        width: 39px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        padding-top: 3px !important;
    }

    .post-single h1 {
        font-size: 30px;
    }

    .post-author-box {

    }

    .blog-list-img {
        width: 100%;
    }

}
