@media (min-width: 768px) {

    .app-margin-top {
        margin-top: 0;
    }

    .responsive-d-display {
        display: none;
    }

    .responsive-d-none {
        display: inline-block;
    }

    .responsive-padding-tabs {
        padding: 3rem;
    }

    .app-margin-top {
        //margin-top: 230px;
        // margin-top: 0px;
        margin-top: 196px;
        min-height: calc(100vh - 587px);
    }
}

@media (min-width: 1335px) {
    .app-margin-top {
        // margin-top: 185px;
        margin-top: 153px;
        min-height: calc(100vh - 520px);
    }
}


@media (max-width: 767px) {
    .app-margin-top {
        //margin-top: 85px;
        margin-top: 95px;
    }

    .responsive-d-none {
        display: none;
    }

    .responsive-d-none-v2 {
        display: none;
    }

    .responsive-d-display {
        display: block;
    }

    .responsive-padding-tabs {
        padding: 2rem;
    }

    .filter-width {
        min-width: 313px;
        width: 100%;
    }

    .footer-nav-item {
        display: none;
    }

    .custom-col-responsive {
        flex: 0 0 98%;
        max-width: 98%;
        margin-left: 3px;
        margin-top: -18px;
    }

    .bioequivalent-font {
        font-size: 11px;
    }

    .custom-accordion-responsive {
        margin-top: 2.5rem !important;
    }
    ////////////////////////////////////////
    //
    ///////////////////////////////////////
    .cart-badge-quantity {
        font-size: 8px;
        font-weight: 300;
        height: 16px;
        width: 16px;
        top: 11px;
        right: 11px;
    }

    .checkout-mobile-h3 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 0;
        letter-spacing: 3px !important;
    }
    .checkout-mobile-h3 span {
        font-size: 18px;
        font-weight: 600;
        margin-top: -5px;
    }

    .r-cart-items .panel-body {
        padding: 15px;
    }

    .quantity-input {
        border: 1px solid #CECECE;
    }

    .panel-cart-total {
        width: 100%;
    }

    .circle-step-responsive {
        width: 24px;
        height: 24px;
        background: linear-gradient(90deg, #00dbae, #009be8, #009be8, #00dbae);
        background-size: 400% 400%;
        border-radius: 50%;
        display: flex;
        z-index: 1;
        position: relative;
    }

    .circle-step-responsive span {
        margin: auto;
        color: white;
        font-size: 9px;
        font-weight: 700;
    }

    .step-disable .circle-step-responsive {
        background: #CECECE;
    }

    .step-back-line {
        width: 100%;
        border-bottom: 1px solid #E8E8E8;
        position: absolute;
        top: 15px;
        z-index: 0;
    }

    .step-back-line-first {
        width: 50%;
        right: 0;
    }

    .step-back-line-last {
        width: 50%;
        left: 0;
    }

    .mobile-panel-recipe {
        padding: 10px 25px !important;
    }

}
