.suscribe {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.base-panel-one-title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #0869A6;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.menu-section {
    background: #EDF8FE;
    color: #033F5D;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-section.active {
    background: #00DBAE;
    color: white;
    transition: 0.3s;
}

.menu-section:hover {
    background: #02EFBD;
    color: white;
    transition: 0.3s;
}

.menu-section-item {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.circle-about-us {
    width: 159px;
    height: 159px;
    display: flex;
    border-radius: 50%;
    background: rgb(0, 155, 174);
    background: -moz-linear-gradient(90deg, rgba(0, 219, 174, 1) 0%, rgba(0, 155, 232, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0, 219, 174, 1) 0%, rgba(0, 155, 232, 1) 100%);
    background: linear-gradient(90deg, rgba(0, 219, 174, 1) 0%, rgba(0, 155, 232, 1) 100%);
}

.tabs-about-us {
    padding-left: 3rem;
    padding-right: 3rem;
}

.tabs-about-us .nav-item {
    border-radius: 12px 12px 0 0;
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    background-color: #EDF8FE !important;
    color: #033F5D !important;
    padding: 1rem 5em;
    margin-right: 10px;
}

.tabs-about-us .nav-item.active {
    background-color: #00DBAE !important;
    color: #ffffff !important;
}

//.accordion-faq {
//
//}

.accordion > .card > .card-header {
    margin-bottom: 0 !important;
}


.card-faq {
    margin-bottom: 15px;
    border: 0 solid #DEDEDE !important;
    border-radius: 12px !important;

    flex-direction: column-reverse;
    justify-content: flex-end;
}

.card-faq .card-header {
    cursor: pointer;
    background: white;
    color: #033F5D;
    padding: 20px;
    border: 1px solid #DEDEDE !important;
    border-radius: 12px !important;
    transition: .4s;
}

.card-faq .card-header h3 {
    font-weight: 700 !important;
    font-size: 16px !important;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 0;
}

.card-header:hover,
    .collapsing + .card-header,
.collapse.show + .card-header {
    background: #009BE8 !important;
    color: white !important;
}

.card-header::after {
    content: "+";
    font-weight: 700 !important;
    font-size: 16px !important;
    font-family: 'Poppins', sans-serif !important;
    color: #033F5D;
    position: absolute;
    right: 20px;
    top: 20px;
}

.collapse.show + .card-header::after {
    content: "-";
    color: white !important;
}
