.suscribe {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.base-panel-one-title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #0869A6;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.base-panel-two-title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #0869A6;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.menu-section {
    background: #EDF8FE;
    color: #033F5D;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-section.active {
    background: #00DBAE;
    color: white;
    transition: 0.3s;
}

.menu-section:hover {
    background: #02EFBD;
    color: white;
    transition: 0.3s;
}

.menu-section-item {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.circle-about-us {
    width: 159px;
    height: 159px;
    display: flex;
    border-radius: 50%;
    background: rgb(0, 155, 174);
    background: -moz-linear-gradient(90deg, rgba(0, 219, 174, 1) 0%, rgba(0, 155, 232, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0, 219, 174, 1) 0%, rgba(0, 155, 232, 1) 100%);
    background: linear-gradient(90deg, rgba(0, 219, 174, 1) 0%, rgba(0, 155, 232, 1) 100%);
}

.tabs-about-us {
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (min-width: 768px) {
    .tabs-about-us{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width: 320px) {
    .tabs-about-us{
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media (max-width: 420px) {
    .circle-about-us {
        width: 130px !important;
        height: 130px !important;
    }
    .circle-about-us img{
        width: 130px !important;
    }
}


.tabs-about-us .nav-item {
    border-radius: 12px 12px 0 0;
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    background-color: #EDF8FE !important;
    color: #033F5D !important;
    padding: 1rem 5em;
    margin-right: 10px;
}

.tabs-about-us .nav-item.active {
    background-color: #00DBAE !important;
    color: #ffffff !important;
}

.accordion > .card > .card-header {
    margin-bottom: 0 !important;
}


.card-faq {
    margin-bottom: 15px;
    border: 0 solid #DEDEDE !important;
    border-radius: 12px !important;

    flex-direction: column-reverse;
    justify-content: flex-end;
}

.card-faq .card-header {
    cursor: pointer;
    background: #EDF8FE;
    color: #033F5D;
    //padding: 20px;
    border: 1px solid #EDF8FE !important;
    border-radius: 12px !important;
    transition: .4s;
    min-height: 62px;
    display: flex;
}

.card-faq .card-header h1,
.card-faq .card-header h2,
.card-faq .card-header h3,
.card-faq .card-header h4,
.card-faq .card-header h5,
.card-faq .card-header p,
.card-faq .card-header span
{
    margin: 0;
}

.card-faq .card-header  > * {
    margin: auto 0 !important;
}

.card-faq .card-header h3 {
    font-weight: 700 !important;
    font-size: 21px !important;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 0;
}

.card-faq .card-header:hover,
.card-faq .collapsing + .card-header,
.card-faq .collapse.show + .card-header {
    background: #00DBAD;
    border-color : #00DBAD;
    color: white;
}

.card-faq .card-header::after {
    content: "";
    font-weight: 700 !important;
    font-size: 16px !important;
    font-family: 'Poppins', sans-serif !important;
    position: absolute;
    right: 20px;
    top: 21px;

    background-image: url('/themes/web/assets/images/icons/accordion-plus-blue.svg');
    background-size: contain;
    background-position: center center;

    width: 20px;
    height: 20px;
}

.card-faq .collapse.show + .card-header::after {
    content: "";
    color: white !important;
    background-image: url('/themes/web/assets/images/icons/accordion-minus-white.svg');
    width: 18px;
    height: 2px;
    top : 30px
}

.card-claim{
    border: 1px solid #DEDEDE !important;
    border-radius: 12px !important;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.panel-legal-bases {
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: .1s;
}

.panel-legal-bases:hover {
    box-shadow: 0 10px 10px rgba(91, 50, 183, 0.05);
}

.header-alert {
    padding: 20px;
    border: 1px solid #DEDEDE !important;
    border-radius: 12px !important;
    background: #009BE8 !important;
    color: white !important;
    font-weight: 700 !important;
}

.product-no-stock-alert {
    padding: 20px;
    border: 1px solid #DEDEDE !important;
    border-radius: 12px !important;
    background: #0869A6 !important;
    color: white !important;
    font-weight: 700 !important;
}

.alert-simple-blue {
    border-radius: 8px;
    padding: 10px 24px;
    background: rgba(0, 155, 232, 0.07);
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #009BE8 !important;
}

.slick-dots li button:before {
    font-size: 32px !important;
}

.slick-dots li {
    margin: 0 !important;
}


.offcanvas-block {
    position: fixed;
    width: 100%;
    height: calc(100vh - 0px);
    top: 0;
    right: 0;
    //z-index: 2;
    background: #FFFFFF;
    padding: 15px;
    -webkit-animation: appear-right-out .3s;
    animation: appear-right-out .3s;
    transform: translateX(-1000%);
    z-index: 1041;
}

.offcanvas-block.show {
    right: 0;
    animation: appear-right-in .3s;
    transform: translateX(0%);
}

@keyframes appear-right-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes appear-right-out {

    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }

}

.offcanvas-block-left {
    position: fixed;
    width: 100%;
    height: calc(100vh - 0px);
    top: 0;
    left: 0;
    //z-index: 2;
    background: #FFFFFF;
    padding: 15px;
    -webkit-animation: appear-left-out .3s;
    animation: appear-left-out .3s;
    transform: translateX(-1000%);
    z-index: 1041;
    overflow: auto;
}

.offcanvas-block-left.show {
    left: 0;
    animation: appear-left-in .3s;
    transform: translateX(0%);
}

@keyframes appear-left-in {
    0% {
        transform: translateX(-100%);
    }
    // 75% {
    //     transform: translateX(0%);
    // }
}

@keyframes appear-left-out {

    0% {
        transform: translateX(0%);
    }

    // 100% {
    //     transform: translateX(-100%);
    // }

}

.banner-buttons{
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 50%;
}

.banner-buttons-2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0%;
    z-index: 10;
}
.banner-buttons-r-2{
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0%;
    z-index: 10;
}

.slick-active > div {
    z-index: 10;
    display: block !important;
}

.slick-slide > div {
    display: none;
}

.link-no-style {
    color: black !important;
}

.link-no-style-blue {
    color: #0869A6 !important;
}

.base-panel-one-without-upper{
    font-family: 'Poppins', sans-serif;
    color: #0869A6;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.timeline-resume{
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: 400;
    color: #6C6B6B;
}
