
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #484848;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-collapse: separate;
    border-spacing: 0;
    padding: 0;
}

.table thead th {
    vertical-align: bottom;
    color: #033F5D;
    font-size: 16px;
    font-weight: 700;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.table thead th:first-child {
    border-radius: 10px 0 0 10px !important;
    border-left: 1px solid #e8e8e8 !important;
}
.table thead th:last-child {
    border-radius: 0 10px 10px 0 !important;
    border-right: 1px solid #e8e8e8 !important;
}


.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
}

tbody tr td{
    border: 0 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #EDF8FE;
}

.react-bootstrap-table-pagination-list {
    justify-content: flex-end;
    display: flex;
}

.react-bootstrap-table-page-btns-ul li {
    margin-right: 9px;
}

.react-bootstrap-table-page-btns-ul li.page-item .page-link{
    color: #000000;
    border-color: #E6E6E6;
    border-radius: 0;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    height: 43px;
    width: 40px;
    text-align: center;
    padding-top: 12.5px;
}

.react-bootstrap-table-page-btns-ul:before{
    content: "Páginas:";
    margin-right: 19px;
    padding-top: 12.5px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.react-bootstrap-table-page-btns-ul li.page-item.active .page-link{
    color: #fff;
    background-color: #009BE8;
    border-color: #009BE8;

}


